/*
Theme Name: Astra Homelab Weekly Newsletter
Theme URI: https://wordpress.org/themes/astra/
Description: Astra Homelab Weekly Newsletter child theme
Author: Spenpo
Author URI: https://spenpo.com
Template: astra
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-homelabweekly
*/
